:root {
  --titleColor: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -0.02em;
  border-radius: 100px;
  cursor: pointer;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.section-title-secondary {
  color: #fd9222;
}

/*! ----HEADER---- */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.header-primary {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #111111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

/*! ----HERO---- */

.hero {
  background-color: #333333;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-btn {
  font-size: 14px;
  color: #ffffff;
  background: #fd9222;
}

.hero-link {
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;
  color: #ffffff;
  background: transparent;
}

.hero-scroll-link {
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/*! ----BENEFITS---- */

.benefits {
  background: #1e1823;
}

.benefits-list {
}

.benefits-item {
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.benefits-item-text {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}

/*! ------PRODUCTS------ */

.products {
}

.products-title {
}

.products-text {
  text-align: center;
  color: #111111;
}

.products-list {
}

.products-item {
}

.product-first {
  background: #fd9222;
  border-radius: 15px;
}

.pruduct-second {
  background: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.product-third {
  background: #1e1823;
  border-radius: 15px;
}

.product-fourth {
  background: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.products-subtitle {
  font-weight: 600;
  text-transform: uppercase;
}

.products-subtitle.light {
  color: var(--titleColor);
}

.products-subtitle.dark {
  color: #111111;
}

/*! ------MADE------ */

.made {
}

.made-title {
}

.made-img {
}

.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
}

.made-list {
}

.made-item {
}

.made-item-text {
  color: #111111;
}

/*! ------LOVED------ */

.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}
.loved-item-text {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-size: 18px;
  color: #111111;
  border: 1px solid #fd9222;
}

/*! ------FOOTER------ */

.footer {
  background: #1e1823;
}

.footer-title {
  text-align: justify;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.footer-title-secondary {
  color: #fd9222;
}

.footer-contact {
  font-weight: 500;
  color: #ffffff;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  text-align: center;
  color: #ffffff;
}
.footer-nav {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  line-height: 1.14;
  color: #ffffff;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background: transparent;
}

.footer-input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-btn {
  font-size: 14px;
  color: #ffffff;
  background: #fd9222;
}
